.aboutWrapper {
    display: flex;
}

.about {
    padding-left: 50px;
    padding-right: 50px;
}

.title {
    text-align: flex-start;
    margin: 10px;
    font-size: 28px;
    font-family: "Lora", sans-serif;
}

.description {
    color: #666;
    font-size: 18px;
    line-height: 25px;
    white-space: pre-line;
}

.section {
    margin-top: 30px;
}