.posts{
    flex: 8;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

.postsContainer {
    display: flex;
    flex-direction: column;
}

.loadMore {
    text-align: center;
    margin: 8px 0;
}

.loadMoreBtn {
    font-family: "Varela Round", Arial, Helvetica, sans-serif;
    border: 1px solid #444;
    background-color: #444;
    padding: 8px 16px;
    font-size: 12px;
    border-radius: 4px;
    color: white;
    transition: .3s ease-out;
}

@media (max-width: 768px) {
    .posts{
        flex: initial;
        max-width: calc(100% - 2rem);
        flex-wrap: wrap;
        gap: 1rem;
        flex-direction: row;
    }

    .post{
        max-width: calc(100% - 1rem);
        width: max-content;
        overflow: hidden;
        margin: 0 0 0 0;
    }

    .postImg{
        max-width: 100%;
    }
}