.settingsButton {
  width: 20.5%;
  margin-bottom: 10px;
}

/* New  ------------------------ */
.profile {
  font-family: "Josefin Sans", sans-serif;
}
.prof-hero img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}
.prof-detail-main h1,
.prof-feat-container h2,
.prof-meta {
  color: rgb(68, 68, 68);
}
.prof-img img {
  max-width: 200px;
  background-color: #fdfbfb;
}
.prof-detail-main h1 {
  font-size: 3.5rem;
  line-height: 0.9;
}
.prof-section {
  width: 80%;
  margin: 0 auto;
  line-height: 1.5;
}
.prof-img {
  text-align: center;
  margin-top: -140px;
}
.prof-img img {
  border: 3px solid #fff;
  border-radius: 50%;
}
.prof-detail-main {
  text-align: center;
  max-width: 800px;
  margin: 1rem auto;
}
.prof-username,
.prof-meta .prof-meta-title {
  color: rgb(154, 154, 154);
  letter-spacing: 3px;
  font-size: 16px;
}

.prof-meta-value {
  display: block;
}

.prof-bio {
  margin: 1rem 0 2rem 0;
  color: rgb(68, 68, 68);
}

.prof-cta {
  border-top: rgb(225, 225, 225) solid 1px;
  margin: 1rem 0;
  padding-top: 1rem;
  display: flex;
}
.prof-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
.prof-meta h5 {
  margin: 0 1rem;
}
.prof-btn-container {
  min-width: 20%;
}
.prof-btn {
  float: right;
}
.prof-link {
  display: inline-block;
  background-color: rgb(68, 68, 68);
  color: #fff;
  border-radius: 5px;
  padding: 0.5rem 2rem;
  transition: 0.5 ease;
}
.prof-link:hover {
  background-color: rgb(43, 43, 43);
}
/* Posts */
.prof-feat-container h2 {
  font-size: 3rem;
  margin: 2rem 0;
}
.prof-posts {
  text-align: center;
  padding: 4rem 0 2rem 0;
  background-color: #fdf7f7;
}
.feature-posts {
  text-align: center;
  padding: 4rem 0 2rem 0;
  background-color: #ebe4e4;
}

/* Mobile */
@media (max-width: 768px) {
  .prof-cta {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 1.4rem;
  }
  .prof-meta {
    display: inline-block;
  }
  .prof-link {
    margin-top: 1rem;
  }
}
